


body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #c5c5c5;
    background-color: #1b3b23;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

div {
    display: block;
}



#root {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding: 0;
}





.avatar {
	height:auto;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}

.avatar_gitoverlay {
	width:60px;
	height:60px;
	border: 0;
	position:absolute;
	left:0;
}



div .navbox {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #101010;
    width: 100%;
    z-index: 2048;
}
.navbox .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    height: 80px;
}



.navbar .nav_content {
	display: flex;
	min-width: 225px;
}

#logo {
	align-items: center;
}

#main {
	align-items: center;
	justify-content: center;
}

#tool {
	align-items: center;
	justify-content: flex-end;
}



.nav_btn {
	background: none;
	height:auto;
	cursor: pointer;
	text-align: left;
}

.guide_frame {
	display:flex;
	align-items: center;
	justify-content: center;
	width:60px;
}

.btn_guide {
	background-color: #101010;
	border: 0.5mm solid #242424;
	border-radius: 50%;
	color: #c5c5c5;
	width: 50px;
	height: 50px;
	text-align: center;
    font-size: 12px;
}
.btn_guide:hover {
	background-color: #242424;
	color: #00f000;
	width: 53px;
	height: 53px;
    font-size: 13px;
}
.btn_guide:active {
	background-color: #343434;
	width: 50px;
	height: 50px;
	text-align: center;
}






div .window {
    box-sizing: border-box;
    display: inline-flex;
    margin: 0 auto;
    justify-content: flex-start;
    background-color: #276e39;
    max-width: 1260px;   
    width: 85%;
    height: 100%;
    padding: 80px 0 25px;
    z-index: 1024;
}
.window .contentStrip {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-left: 12px;
    overflow-y: scroll;
}
.contentStrip::-webkit-scrollbar {
    width: 12px;
}
.contentStrip::-webkit-scrollbar-track {
    background-color: #285c35;
}
.contentStrip::-webkit-scrollbar-thumb {
    background-color: #101010;
    border: 2px solid;
    border-color: #276e39;
}
#content {
    width: 96%;
	display: flex;
	flex-direction: column;
	row-gap: 1cm;
}



div .stuff {
	background-color: #387a49;
	border: 0;
	border-radius: 22px;
	padding: 10px 2px 36px;
}





div .footer {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: #101010;
    border: 1px solid;
    border-color: #161616;
    z-index: 2048;
}
.footer .footer_content{
    display: flex;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    justify-content: flex-end;
    font-size: 12px;
}
.footer_content .copyright {
    margin: auto;
    margin-left: 5px;
    color: #5f5f5f;
}
.footer_content .contact {
    margin: auto;
    margin-right: 42px;
    color: #999999;
}